NUXT_SESSION_PASSWORD=blabla

NUXT_PUBLIC_SUPABASE_URL=https://<ayo ?>.supabase.co
NUXT_PUBLIC_SUPABASE_KEY=some-key

NODE_OPTIONS="--network-family-autoselection-attempt-timeout=500" # because i had timeout issue when using mobile data
